@model EnvanterKayit.Entities.Cihaz

@{
    ViewData["Title"] = "Cihazı Sil";
}

<h1>Cihazı Sil</h1>

<h3>Cihazı Silmek İstediğinize Emin Misiniz?</h3>
<div>
    <h4>Cihaz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Renk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Renk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modeli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modeli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.İslemcisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.İslemcisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EkranKartı)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EkranKartı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeriNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeriNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelYili)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelYili)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SatistaMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SatistaMi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notlar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notlar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka.Adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tur.Adi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger mt-3" /> |
        <a asp-action="Index">Listeye Dön</a>
    </form>
</div>
